.start-button {
    text-align: center;
    padding-bottom: 50px;
}

#button1 {
    background-color: purple;
    color: white;
}

.hs-button {
    text-align: center;
    padding-top: 30px;

}

#button-clear {
    background-color: purple;
    color: white;
}

#button-go-back {
    background-color: purple;
    color: white;
}

.submit-btn {
    padding-top: 10px;
}

.form-control {
    max-width: 30%;

}

#button2 {
    background-color: purple;
    color: white;
}

.answer {
    background-color: purple;
    color: white;
    margin-top: 10px;
}